extends ../layout

block content
    div.card#commandsManagement
        h1=__("admin.commandsManagement")
        div
            each command in commands
                div.command
                    div.title
                        h2=command.id
                        form(action="/admin/commands/command/delete" method="POST")
                            input.hide(type="number" name="id" value=command.id)
                            input(type="submit" value="x")
                    h3 #{command.firstName} #{command.lastName}
                    each sandwich in command.Sandwiches
                        div.sandwich
                            p #{sandwich.name} - #{sandwich.SandwichCommand.date}
                            form(action="/admin/commands/sandwich/delete" method="POST")
                                input.hide(type="number" name="id" value=sandwich.SandwichCommand.id)
                                input(type="submit" value="x")
