extends ../layout

block content
    div.container
        h4=__("admin.title")
        div.row.center
            div.col
                div.card.blue-grey
                    div.card-content.white-text
                        span.card-title=__("admin.ordersManagement")
                        p
                    div.card-action
                        a(href="/admin/orders/date")=__("admin.ordersDate")
                        a(href="/admin/orders")=__("admin.manageOrders")

            div.col
                div.card.blue-grey
                    div.card-content.white-text
                        span.card-title=__("admin.sandwichManagement")
                        p
                    div.card-action
                        a(href="/admin/sandwiches")=__("admin.manageSandwiches")
            div.col
                div.card.blue-grey
                    div.card-content.white-text
                        span.card-title=__("admin.departmentsManagement")
                        p
                    div.card-action
                        a(href="/admin/departments")=__("admin.manageDepartments")
            div.col
                div.card.blue-grey
                    div.card-content.white-text
                        span.card-title=__("admin.userManagement")
                        p
                    div.card-action
                        a(href="/admin/users")=__("admin.manageUsers")
