extends ../layout

block content
    div.card
        h1=__("admin.title")
        div
            h2=__("admin.commandsManagement")
            div.buttons
                a(href="/admin/commands/date")
                    button=__("admin.ordersDate")
                a(href="/admin/commands")
                    button=__("admin.manageCommands")

        div
            h2=__("admin.sandwichManagement")
            div.buttons
                a(href="/admin/sandwiches")
                    button=__("admin.manageSandwiches")

        div
            h2=__("admin.userManagement")
            div.buttons
                a(href="/admin/users")
                    button=__("admin.manageUsers")
