extends layout

block content
  div.card
    h1= title
    p=__("index.welcome")
    form#order(action="/order" method="POST")
      div.field
        label(for="department")=__("department")+":"
        input#department(type="list" list="department-list" name="department" value=user ? user.DepartmentName : "" autocomplete="off" required)
        datalist#department-list
          each department in departments
            option(value=department.name)

      div.field
        label(for="firstname")=__("firstName")+":"
        input#firstname(type="text" name="firstName" value=user ? user.firstName : "" required)
      div.field
        label(for="lastname")=__("lastName")+":"
        input#lastname(type="text" name="lastName" value=user ? user.lastName : "" required)

      div#order1.order
        h2=__("order")+" 1"
        div.field
          label(for="sandwich1")=__("sandwich")+":"
          input#sandwich1(type="list" list="sandwich-list" name="sandwiches[1]" autocomplete="off" required)
        div.field
          label(for="day1")=__("index.day")+":"
          input#day1(type="date" min=date.firstDate ? date.firstDate : "" max=date.lastDate ? date.lastDate : "" name="dates[1]" required)

      div#order-action
        a#add-order +
        a#remove-order.hide -

      div.field
        +submit(value=__("index.pay"))

      datalist#sandwich-list
        each sandwich in sandwiches
          option(value=sandwich.name)

  script(src="/javascripts/index.js")
