extends layout

block content
  div.container
    h4.center=__("index.welcome")
    div.row
      form#order.col.s12(action="/order" method="POST")
        div.row
          div.input-field.col.s12
            select(name="department" required)
              option(value="" disabled selected hidden)=__("chooseDepartment")
              each department in departments
                option(value=department.name selected=user && user.DepartmentName===department.name)=department.name
            label=__("department")+":"

        div.row
          div.input-field.col.s6
            input#firstname(type="text" name="firstName" value=user ? user.firstName : "" required)
            label(for="firstname")=__("firstName")+":"
          div.input-field.col.s6
            input#lastname(type="text" name="lastName" value=user ? user.lastName : "" required)
            label(for="lastname")=__("lastName")+":"

        div#oderCreator.row
          h5=__("order")
          div.input-field.col.s6
            select#sandwich
              option(value="" disabled selected hidden)=__("index.chooseSandwich")
              each sandwich in sandwiches
                option(value=sandwich.name)=sandwich.name
            label=__("sandwich")+":"
          div.input-field.col.s6
            input#day(type="date" min=date.firstDate ? date.firstDate : "" max=date.lastDate ? date.lastDate : "")
            label(for="day")=__("index.day")+":"
          a#addOrder.btn-floating.btn-large.waves-effect.waves-light.blue: i.material-icons add

        div#orders

        div.row
          h5=__("index.payment")
            div.col.s12
              p
                label
                  input(type="radio" name="payment" value="lyfPay" checked)
                  span LyfPay
              p
                label
                  input(type="radio" name="payment" value="creditCard")
                  span=__("index.creditCard")

        div.row.center
          div.input-field.col.s12
            +submit(__("index.pay"))

  script(src="/javascripts/index.js")
