doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    block content

    div#user
      a(href="/")=__("layout.home")
      if user
        if user.permissions >= 1
          p -
          a(href="/sandwiches")=__("layout.sandwiches")
        if user.permissions >= 2
          p -
          a(href="/commands")=__("layout.commands")
        if user.permissions >= 3
          p -
          a(href="/admin")=__("layout.administration")
      p |
      if user
        a(href="/profile")=user.username
        a(href="/logout")=__("layout.logout")
      else
        a(href="/login")=__("layout.login")
        a(href="/register")=__("layout.register")

    div#more
      a=__("layout.about")
      a=__("layout.contact")

    div#dark.hide
    div#about.popup.card.hide
      h1=__("layout.about")
      p=__("layout.aboutDescription")
      div.images
        div
          img(src="/images/logoBio.png")
          p=__("layout.bio")
        div
          img(src="/images/logoChimie.png")
          p=__("layout.chemistry")
        div
          img(src="/images/logoGC.png")
          p=__("layout.GC")
        div
          img(src="/images/logoGCGP.png")
          p=__("layout.GCPD")
        div
          img(src="/images/logoGEA.png")
          p=__("layout.GEA")
        div
          img(src="/images/logoInfo.png")
          p=__("layout.IT")
      p.before-link=__("layout.made")
        a(href="https://www.linkedin.com/in/florian-charlaix" target="_blank") Florian Charlaix
    div#contact.popup.card.hide
      h1=__("layout.contact")
      p.before-link=__("layout.orderIssue")+":"
        a(href="mailto: ") test@test.fr
      p.before-link=__("layout.bio")+":"
        a(href="mailto: ")
      p.before-link=__("layout.chemistry")+":"
        a(href="mailto: ")
      p.before-link=__("layout.GC")+":"
        a(href="mailto: ")
      p.before-link=__("layout.GCPD")+":"
        a(href="mailto: bde.gcgp.lyon1@gmail.com") bde.gcgp.lyon1@gmail.com
      p.before-link=__("layout.GEA")+":"
        a(href="mailto: ")
      p.before-link=__("layout.IT")+":"
        a(href="mailto: contact@bde-info.org") contact@bde-info.org

    script(src="/javascripts/layout.js")
