extends layout

block content
    div.container
        label(for="date")=__("date")
        input#date(type="date" value=date)
    div.container
        h1=__("orders")
        each user, department in orders
            div.container
                h4=department
                each orders, name in user
                    each order, id in orders
                        ul.collection.with-header
                            li.collection-header: h5 #{name} - #{__("order")} N°#{id}
                            each sandwich in order
                                li.collection-item
                                    div=sandwich.name
                                        a.secondary-content(href="/orders/give?id="+sandwich.SandwichOrder.id)
                                            i.material-icons check

    script(src="/javascripts/orders.js")
