extends layout

block content
    div.container.center
        h1=__("payment.payment")
        if (state === "success")
            h4=__("payment.successful")
        else if (state === "cancel")
            h4=__("payment.canceled")
        else if (state === "error")
            h4=__("payment.error")
        if (state !== "success")
            a.waves-effect.waves-teal.btn(href="/order/retry")=__("payment.retry")
