extends layout

block content
    div.card
        h1=__("profile.title")
        form(action="/profile" method="POST")
            h2=__("profile.infos")
            div.field
                label(for="username")=__("username")+":"
                input#username(type="text" name="username" value=user.username disabled required)
            div.field
                label(for="email")=__("email")+":"
                input#email(type="email" name="email" value=user.email required)
            div.field
                label(for="firstName")=__("firstName")+":"
                input#firstName(type="text" name="firstName" value=user.firstName required)
            div.field
                label(for="lastName")=__("lastName")+":"
                input#lastName(type="text" name="lastName" value=user.lastName required)
            div.field
                label(for="department")=__("department")+":"
                input#department(type="list" list="department-list" name="department" value=user.DepartmentName required)
            div.field
                label(for="password")=__("password")+":"
                input#password(type="password" name="password")
            div.field
                input(type="submit" value=__("profile.save"))

            datalist#department-list
                each department in departments
                    option(value=department.name)

    div.card#userOrderList
        h1=__("orders")
        each order in orders
            div
                h2=order.id
                each sandwich in order.Sandwiches
                    p #{sandwich.name} - #{sandwich.SandwichOrder.date}
