extends layout

block content
    form.card(action="/register" method="POST")
        h1=__("register.title")
        div.field
            label(for="username")=__("username")+":"
            input#username(type="text" name="username" required)
        div.field
            label(for="email")=__("email")+":"
            input#email(type="email" name="email" required)
        div.field
            label(for="firstName")=__("firstName")+":"
            input#firstName(type="text" name="firstName" required)
        div.field
            label(for="lastName")=__("lastName")+":"
            input#lastName(type="text" name="lastName" required)
        div.field
            label(for="department")=__("department")+":"
            input#department(type="list" list="department-list" name="department" required)
        div.field
            label(for="password")=__("password")+":"
            input#password(type="password" name="password" required)
        div.field
            input(type="submit" value=__("register.submit"))

    datalist#department-list
        each department in departments
            option(value=department.name)
