extends layout

block content
    div.container
        div.row
            form(action="/register" method="POST")
                h3=__("register.title")
                div.row
                    div.input-field.col.s6
                        input#username(type="text" name="username" required)
                        label(for="username")=__("username")+":"
                    div.input-field.col.s6
                        input#email(type="email" name="email" required)
                        label(for="email")=__("email")+":"
                div.row
                    div.input-field.col.s6
                        input#firstName(type="text" name="firstName" required)
                        label(for="firstName")=__("firstName")+":"
                    div.input-field.col.s6
                        input#lastName(type="text" name="lastName" required)
                        label(for="lastName")=__("lastName")+":"
                div.row
                    div.input-field.col.s12
                        select(name="department" required)
                            option(value="" disabled selected hidden)=__("chooseDepartment")
                            each department in departments
                                option(value=department.name)=department.name
                        label=__("department")+":"
                div.row
                    div.input-field.col.s12
                        input#password(type="password" name="password" required)
                        label(for="password")=__("password")+":"
                div.row.center
                    div.input-field.col.s12
                        +submit(__("register.submit"))
