extends layout

block content
    div.container
        label(for="date")=__("date")
        input#date(type="date" value=date)
    div.container
        h1=__("sandwiches")
        ul.collection
            each sandwich in sandwiches
                li.collection-item
                    div=sandwich.name
                        a.secondary-content=sandwich.dataValues.number

    script(src="/javascripts/sandwiches.js")
