extends ../../layout

block content
    div.container
        h1=__("admin.ordersDate")
        div.row
            form(action="/admin/orders/date" method="POST")
                div.row
                    div.input-field.col.s6
                        label(for="firstDate")=__("admin.firstDate")
                        input#firstDate(type="date" name="firstDate" value=date? date.firstDate: "" required)
                    div.input-field.col.s6
                        label(for="lastDate")=__("admin.lastDate")
                        input#lastDate(type="date" name="lastDate" value=date? date.lastDate: "" required)
                div.row
                    div.input-field.col.s12
                        +submit(__("save"))
