extends ../../layout

block content
    div.container
        h1=__("admin.ordersManagement")
        ul.collection
            each order in orders
                li.collection-item
                    div #{order.id} | #{order.firstName} #{order.lastName} - #{order.price}€
                        div.secondary-content
                            a(href="/admin/orders/edit?id=" + order.id)
                                i.material-icons edit
                            a.delete(href="/admin/orders/delete?id=" + order.id)
                                i.material-icons remove
                        each sandwich in order.Sandwiches
                            p #{sandwich.name} - #{sandwich.SandwichOrder.date}


    div.fixed-action-btn
        a.btn-floating.btn-large.blue(href="/admin/orders/add")
            i.large.material-icons add

    script(src="/javascripts/admin/orders/index.js")
