extends ../../layout

block content
    div.card#ordersManagement
        h1=__("admin.ordersManagement")
        a.add(href="/admin/orders/add")
            button=__("admin.add")
        div
            each order in orders
                div.order
                    div.title
                        h2=order.id
                    h3 #{order.firstName} #{order.lastName} - #{order.price}€
                    each sandwich in order.Sandwiches
                        div.sandwich
                            p #{sandwich.name} - #{sandwich.SandwichOrder.date}
                    div.buttons
                        a.edit(href="/admin/orders/edit?id=" + order.id)
                            button=__("admin.edit")
                        a.remove(href="/admin/orders/delete?id=" + order.id)
                            button=__("admin.remove")

    script(src="/javascripts/admin/orders/index.js")
