extends ../../layout

block content
    div.container
        h1=__("admin.edit")+" "+targetUser.username
        div.row
            form(action="/admin/users/edit" method="POST")
                h2=__("profile.infos")
                input.hide(type="text" name="oldUsername" value=targetUser.username required)
                div.row
                    div.input-field.col.s12
                        input#username(type="text" name="username" value=targetUser.username required)
                        label(for="username")=__("username") + ":"
                div.row
                    div.input-field.col.s12
                        input#email(type="email" name="email" value=targetUser.email required)
                        label(for="email")=__("email") + ":"
                div.row
                    div.input-field.col.s6
                        input#firstName(type="text" name="firstName" value=targetUser.firstName required)
                        label(for="firstName")=__("firstName") + ":"
                    div.input-field.col.s6
                        input#lastName(type="text" name="lastName" value=targetUser.lastName required)
                        label(for="lastName")=__("lastName") + ":"
                div.row
                    div.input-field.col.s12
                        select(name="department" required=)
                            each department in departments
                                option(value=department.name selected=department.name === targetUser.DepartmentName)=department.name
                        label=__("department") + ":"
                div.row
                    div.input-field.col.s12
                        input#password(type="password" name="password")
                        label(for="password")=__("password") + ":"
                div.row
                    div.input-field.col.s12
                        input#permissions(type="number" min="0" max="3" value=targetUser.permissions name="permissions")
                        label(for="permissions")=__("admin.permissions")
                div.row.center
                    div.input-field.col.s12
                        +submit(__("save"))
