extends ../../layout

block content
    div.container
        h1=__("admin.edit")+" "+sandwich.name
        div.row
            form(action="/admin/sandwiches/edit" method="POST")
                input.hide(type="text" name="name" value=sandwich.name required)
                div.row
                    div.input-field.col.s12
                        label(for="name")=__("admin.name")+":"
                        input#name(type="text" name="newName" value=sandwich.name required)
                div.row
                    div.input-field.col.s12
                        label(for="price")=__("admin.price") + ":"
                        input#price(type="number" min="0" step="any" name="price" value=sandwich.price required)
                div.row.center
                    div.input-field.col.s12
                        +submit(__("save"))
