extends ../../layout

block content
    div.container
        h1=__("admin.edit")+" "+department.name
        div.row
            form(action="/admin/departments/edit" method="POST")
                input.hide(type="text" name="name" value=department.name required)
                div.row
                    div.input-field.col.s12
                        input#name(type="text" name="newName" value=department.name required)
                        label(for="name")=__("admin.name")+":"
                div.row
                    div.input-field.col.s12
                        p
                            label(for="enable")
                                input#enable(type="checkbox" name="enable" checked=department.enable)
                                span=__("admin.enable")
                div.row.center
                    div.input-field.col.s12
                        +submit(__("save"))
